﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebFormsMatrixMultiplication._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="row">
        <div class="col-md-12">
            <asp:FileUpload ID="FileUpload1" runat="server" />
        </div>
        <div class="col-md-12">
            <asp:FileUpload ID="FileUpload2" runat="server" />
        </div>
        <div class="col-md-12">
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
        </div>
        <div class="col-md-12">
            <asp:Literal ID="Literal1" runat="server"></asp:Literal>
        </div>
    </div>

</asp:Content>
